body,html{
  width:100%;
  height:100%;
  background-color: #ddd;
  margin:0;
  padding:0;
}
.content{
  width:100%;
  height:100%;
}

/* stage -- start*/
.stage{
  width:100%;
  height: 680px;
  position:relative;
}
/* stage -- end*/

/* image -- start*/
 .img-sec{
   position: relative;
   width:100%;
   height:100%;
   overflow: hidden;
   background: #ddd;
   text-align: center;
   @at-root {
     .img-figure{
       position: absolute;
       width: 320px;
       height: 360px;
       padding: 40px;
       margin:0;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       background-color: #fff;
       font-size: 16px;
       color: #a7a0a2;
       cursor: pointer;
     }
     figcaption{
       .img-title{
         font-size: 20px;
         color: #a7a0a2;
         margin: 20px 0 0 0;
       }
     }
     //.img-back{
     //  position: absolute;
     //  left:0;
     //  top:0;
     //  width:100%;
     //  height:100%;
     //  padding: 30px;
     //  box-sizing:border-box;
     //  color: #666;
     //  backface-visibility: hidden;
     //  background-color: #fff;
     //}
   }
 }
/* image -- end*/

/* controller-nav --start*/
.controller-nav{
  position: absolute;
  left:0;
  bottom: 30px;
  z-index: 101;
  width:100%;
  text-align: center;
}
/* controller-nav --end*/
